body{
    /* width:100%; */
    display:flex;
    justify-content:center;
}

body > div{
    width:1280px;
}

header{
    width:100%;
}

header #topbar{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    wisdth:100%
    align-items:center;
    justify-content: center;
    gap:20vw;
    font-size:20px;
    color:#fff;
    background:  linear-gradient(to Right,#FFAB99,#EFE9AE);
    border-radius:8px;
    height:50px;
}

#social-links,#demo-boox,#contact-details{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    /* gap:8px; */
    height:100%;
    /* gap:4px; */
    
}

#social-links > i{
    padding: 0px 12px;
    display:flex;
    align-items:center;
    height:100%;

    border-right:2px solid #fff;
}


#contact-details{
    flex-direction:column;
    margin-top:1.3px;
    gap:4px;
}

#demo-boox{
    align-items:center;
}

#demo-boox div{
    padding: 5px 8px;
    border:2px solid #fff;
    border-radius:12px;
}

nav{
    /* padding-top:2vh; */
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    flex-wrap:wrap;
    gap:18%;
    width:100%;
    /* margin-bottom:6px; */
}

#name-of-website{
    display:flex;
    justify-content:center;
    align-items:center;

    font-size:30px;
    gap:6px;
    font-weight:bold;
    font-family:monospace;
}

.bi-layout-text-window-reverse{
    background:  linear-gradient(to left,#FFAB99,#EFE9AE);
    background-clip: text;
    -webkit-background-clip: text;
    font-size:32px;
    -webkit-text-fill-color: transparent;

}


#navbar{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    /* flex-wrap:wrap; */
    font-size:22px;
    gap:8%
}

.navItem{
    display:flex;
    flex-wrap:nowrap;
    gap:2px;
}

#search{
    font-size:28px;
}

#main-banner{
    position:relative;
}

section#main-banner >#banner-holder{
    background-image:url("./images/banner-main-image-1.png");
    background-size:100%;
    height:82vh;                
    border-radius:12px;
    background-repeat:no-repeat;
    position:relative;
    filter: brightness(0.7);


}

#main-banner > div{
    position:absolute;
    top:0px;

    height:100%;
    width:100%;
    filter: brightness(1.0);
    display:flex;
    align-items: center;
}

#main-banner > div > div{
    padding: 12px 0px;
    margin-left:20px;
    padding-left: 10px;
    border-radius:4px;
    border-left:4px solid #fff;
    width:40vw;
}

#main-banner > div > div > h3{
    font-size:24px;
    font-family:arial;
    color:#cac2c2;
    filter: drop-shadow(0px -10px 1.5px #696969);

}

#main-banner > div > div > h1{
    font-size:30px;
    font-family:arial;
    filter: drop-shadow(290px 0px 1.5px #696969);
    color:#696969;
}